@import '../assets/bootstrap.scss';

//color pallet
//main
$p-primary: #123456;
$p-secondary: #456789;

//helpers
$p-cocoa-brown: #322122;
$p-tobacco-brown: #756342;
$p-white: #fff;

//element colors
$c-header-bg-color: $p-primary;
$c-header-bg-color--contact-us: $p-cocoa-brown; // or $c-header-bg-color--cocoa-brown ?? [page vs color]
$c-header-bg-color--about-us: $p-tobacco-brown;
$c-header__title-text: $p-white;

$l-header-min-height: 175px;

//could be merge to page config??
$f-family: 'Roboto';
$f-weight-default: 400;
$f-weight-strong: 500;

//page config
body {
  font-family: $f-family;
  font-weight: $f-weight-default;
  strong {
    font-weight: $f-weight-strong;
  }
}

//bootstrap extensions
.col--no-gutters {
  padding: 0;
}

//actual styles
.header {
  min-height: $l-header-min-height;

  background-color: $c-header-bg-color;
  &--contact-us {
    background-color: $c-header-bg-color--contact-us;
  }
  &--about-us {
    background-color: $c-header-bg-color--about-us;
  }
  .row {
    min-height: inherit;
  }
  &__title {
    @extend .col-lg-4;
    height: inherit;
    color: $c-header__title-text;
    text-align: center;
  }
  &__banner {
    @extend .col-lg-8, .col--no-gutters, .d-none, .d-lg-block;
    img {
      max-width: 100%;
      min-height: 100%;
    }
  }
}
