//color pallet
$p-cocoa-brown: #322122;
$p-tobacco-brown: #756342;
$p-white: #fff;

//element colors
$c-header--contact-us: $p-cocoa-brown;
$c-header--about-us: $p-tobacco-brown;
$c-header__title: $p-white;

//desktop

$l-header-height--desktop: 175px;

//mobile

$l-header-height--mobile: 125px;

//could be merge to page config??
$f-family: 'Roboto';
$f-weight-default: 400;
$f-weight-strong: 500;

//page config
body {
  font-family: $f-family;
  font-weight: $f-weight-default;
  strong {
    font-weight: $f-weight-strong;
  }
}

//bootstrap extensions
.col--no-gutters {
  padding: 0;
}

//actual styles
.header {
  min-height: $l-header-height--desktop;
  @media (max-width: 991px) {
    min-height: $l-header-height--mobile;
  }
  &--contact-us {
    background-color: $c-header--contact-us;
  }
  &--about-us {
    background-color: $c-header--about-us;
  }
  &__title {
    height: inherit;
    color: white;
    text-align: center;
  }
  &__banner {
    max-width: 100%;
    min-height: 100%;
  }
}
